# Project Specific
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# IDE Specific
.vscode/*
.idea/*

# System Files
.DS_Store

# Ignore all HTML files:
**/*.html

# Ignore all .env files:
**/.env*
!.env.example

# Ignore browserstack config files:
browserstackSetupConfig.json
performance-report.json
playwright-browserstack-sdk.config.temp.json
playwright-browserstack-sdk.config.ts
log
