# NOTE: Prettier also uses this file to determine which files to ignore
# Reference: https://prettier.io/docs/en/install

# Project Specific
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# IDE Specific
.vscode/*
.idea/*

# System Files
.DS_Store

# Skip html files
*.html
